/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@media (max-width: 1400px) {
    .container2 {
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 95%;
    }
}



@media  (max-width: 1280px) {
    .services {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                

    }

}

@media  (max-width: 1280px) {
    .service {
        margin: 100px 50px 0 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
               

    }

}

@media  (max-width: 1280px) {
    .card {
        margin-bottom: 30px;
    }

}


@media  (max-width: 1200px) {
    .card2 {
        margin-left: 0px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}



@media (max-width: 1000px) {
    .main {
        width: 100%;
        background-position: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media (max-width: 1200px) {
    .flex1 {
        font-size: 30px;
    }
}
@media (max-width: 650px) {
    .fa-bars {
        display: block;
    }
    nav {
        display: none;
    }
}

@media (max-width: 550px) {
    .flex1 {
        font-size: 30px;
    }
}

@media (max-width: 550px) {
    .flex1 {
        font-size: 20px;
    }
}


@media (max-width: 1000px) {
    .flex2 {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .flex2 {
        font-size: 10px;
    }
}
