/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.container2 {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.myflex {
   
    display: -webkit-box;
   
    display: -ms-flexbox;
   
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav {
    width: 500px;
}

nav ul {
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

nav a {
    font-family: Helvetica;
    font-size: 17px;
    color:#636060;
}


.fa-bars {
    display: none;
    cursor: pointer;
}


.main {
    margin-top: 18px;
    gap: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 606px;
    background-image: url(../images/Rectangle\ 1.png);
    background-repeat: no-repeat;
  }


  
  .flex1 {
    font-family: Helvetica;
    font-size: 79px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .flex2 {
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
  }
  
  /* section cards */
  
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 33px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 400px;
  }
  
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 235px;
    height: 115px;
    margin: 100px 83px 0px 0px;
  }
  
  .service h4 {
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    color: #636060;
  }
  
  .service h1 {
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 400;
    color: #010101;
    margin-top: 9px;
  }
  
  .service p {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    color: #636060;
    margin-top: 37px;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 286px;
    height: 195px;
    margin-top: 84px;
  }
  
  .card h1 {
    margin-top: 23px;
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    color: #343232;
   
  }
  
  .card p {
    margin-top: 9px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    color: #636060;
  }
  
  .card2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 56px 0 0 350px;
    gap: 33px;
  }
